:root{
    --blanco: white;
    --gris: gray;
    --negro: black;  
    --fuentetitulos:'Merriweather', serif;
 }

 header {
    background-image: linear-gradient(rgba(248, 106, 11, 0.692), rgba(240, 231, 213, 0.45));
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen al tamaño del body */
    /*background-attachment: fixed;  Fija la imagen para que no se desplace con el desplazamiento de la página */
    background-position: center center; /* Centra la imagen en el body */  
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    
}
.companyimage{
    display: flex;
    margin-left: 3rem;
}

.menu-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    gap: 4rem;
    margin-right: 2rem;


}
.navlink{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    letter-spacing: 0.1rem;
}

.navlink:hover{
    color: white;
    font-size: 1.2rem;
}

li{
    list-style: none;
}

.botonsearch{
    background-color: rgb(230, 178, 137);
    transition: all 0.3s ease;
    border-radius: 1rem;
    border: 1px solid black;
    height: 25px;
    width: 65px;
    letter-spacing: 0.1rem;
    
}

.botonsearch:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(216, 100, 6);
    
}

#search{
    height: 25px;
    border-radius: 10px; 
    padding: 10px; 
    border: 1px solid #ccc;
    
}

.contenedorSearch {
    position: relative;
    
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

form{
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: .5rem;
  margin-right: 3rem;
}